body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: rgb(104, 104, 128);
    padding: 20px;
    width: 15VW;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ecf0f1;
    transition: width 0.3s ease;
    height: 10000vW;
}

.logo img {
    max-width: 100%;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a.active,
.nav-links a:hover {
    background-color: #34495e;
   
}

.main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
}
.weather {
    background-color: #9DAF78;
    position:absolute;
        right: 10vh;
        justify-content: center;
        padding-top: 20px;
        border-radius:25px;
        height: 15vh;
        width: 50vh;
    padding-left: 10px;
    TOP: 20px;
        
    }
    .chart-container{
    position:absolute;
         height:40vh; 
        width:40VW;
        Left:20VH;
         }
 .d{ 
    position:relative;
         height:40vh; 
        width:40VW;
        left: 20Vw;
     }
   
/* Media queries for responsiveness */
@media (max-width: 768px) {
    .chart-container{
        
        WIDTH:10PX;
        height: 10PX;



   }
   .weather {
    background-color: #9DAF78;
    position:RELATIVE;
    margin-left:-100vh;
        justify-content: center;
        padding-top: 20px;
        border-radius:25px;
        height: 30vw;
        width: 50vw;
    padding-left: 10px;
    TOP: 20px;
        
    }
    .admin-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar.collapsed {
        width: 70px;
    }

    .sidebar.collapsed .nav-links a span {
        display: none;
    }

    .sidebar.collapsed .logo img {
        display: none;
    }

    .sidebar.collapsed .logo::after {
        content: "A";
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
        color: #ecf0f1;
        display: block;
        text-align: center;
    }
}


